include versioneer.py
include afctl/_version.py
include requirements.txt
include README.md
include setup.cfg
include afctl/meta.yml
include afctl/plugins/deployments/deployment_config.yml
include afctl/templates/gitignore.txt
include afctl/plugins/deployments/docker/afctl-docker-compose.yml
